.comments
  center(rem(800px))
  padding 0 rem(20px)

  h3
    margin 0 0 rem(30px)
    font-size rem(30px)

footer
  background $primary
  padding rem(25px) 0
  margin-top 100px

  p,
  a
    text-decoration none
    mainFont(300)
    color $secondary
    text-align center
    margin 0
